<div class="salon d-flex align-items-center">
  <div class="container">
      <h1 class="welcome italic">Contacto</h1>
  </div>
</div>

<div class="row m-0 py-4">
  <div class="col-12 col-lg-6 ">
    <div class="d-flex justify-content-center">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=ely%20del%20angel%20salon%2C%20monterrey&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
          </div>
        </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex align-items-center">
    <div class="container my-4">
      <div class="row d-flex justify-content-center my-2">
        <h1 class="font-weight-bold">Agenda una cita </h1>
      </div>
      <div class="row m-0 my-4 d-flex justify-content-center">
        <div class="col-9 col-lg-4 d-flex justify-content-center align-items-center">
            <h2><mdb-icon fas icon="phone"></mdb-icon> 1353-0527</h2>
        </div>
        <div class="col-3 col-lg-2 d-flex justify-content-center">
            <h2><mdb-icon fab icon="facebook-square" size="2x"></mdb-icon></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-0 py-4 secondary-color">
    <div class="col-12 d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center my-2">
          <h1>Queremos escucharte</h1>
        </div>
        <div class="row d-flex justify-content-center">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu correo">
              <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo con nadie.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mensaje</label>
              <textarea class="col-12 m-0" name="" id="" cols="30" rows="10" placeholder="Escribe tu mensaje..."></textarea>
            </div>
            <button class="btn btn-primary primary-color">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
