<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark secondary-color lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="/home" >
        <img src="./assets/logo.png" width="70" height="70" alt="">
      </a>
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a class="nav-link waves-light" routerLink="/home" routerLinkActive="active" mdbWavesEffect><h4 class="text-capitalize">INICIO</h4><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link waves-light"  routerLink="/products" routerLinkActive="active" mdbWavesEffect><h4>PRODUCTOS</h4></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link waves-light" routerLink="/services" routerLinkActive="active" mdbWavesEffect><h4>SERVICIOS</h4></a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link waves-light" routerLink="/contacts" routerLinkActive="active" mdbWavesEffect><h4>CONTACTO</h4></a>
        </li>    
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
