<div class="footer">
  <div class="container ">
    <div class="p-1">
      <div class="row">
          <div class="col border-right text-center">
              <h5>Direccion</h5>
              <p>Av Alfonso Reyes 2612, Edificio Conexity, Local 15</p>
            </div>
            <div class="col border-right">
              <p>Horario</p>
              <ul>

              </ul>
            </div>
            <div class="col border-right">
              <p>Telefono</p>
            </div>
            <div class="col">
              <p>Redes Sociales</p>
            </div>
      </div>

    </div>
  </div>
</div>
