$girl-bg: '/assets/girl-in-bg.png';
    
.parallax
    background-image: url($girl-bg)
    min-height: 700px
    background-attachment: fixed
    background-position: -0px 0px
    background-repeat: no-repeat
    background-size: cover

@media (max-width: 900px)
    .parallax
        min-height: 0px
        height: 500px
        background-position: -80px 0px

    .welcome
        font-size: 3em
    
        
