<div class="parallax d-flex align-items-stretch">
  <div class="row m-0 ml-auto">
    <div class="col d-flex align-items-end">
      <div>
          <h1 class="welcome italic">Bienvenido</h1>
          <h2 class="welcome-secondary">ELY DEL ANGEL SALON</h2>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <h1 class="secondary-text">Nuevos y Promociones</h1>
  <hr>
</div>
<div class="row justify-content-md-center m-0">
  <div class="col-12 col-lg-2 d-flex align-items-stretch my-3" *ngFor="let special of specials">
      <app-specials [special]="special"></app-specials>
  </div>
</div>


<div class="container my-4">
  <h1 class="secondary-text">Sobre Nosotros</h1>
  <hr>
  <div class="container m-3"> 
    <div class="container">
      <h4 class="">
        Ely del Angel Salon empezó el 21 de Julio de 2014. Ely al estar trabajando en otra empresa 
        le surgió la idea de tener ella su propia marca y comenzó a buscar locales acompañada de su esposo
        y un sueño, hasta que finalmente encontró el local donde se ubican ahora. El deseo de Ely es seguir creciendo!
        abrir más sucursales y ademas siempre busca capacitar a su personal con la principal tarea de siempre estar 
        buscando brindar el mejor servicio y bienestar para sus clientes!!
      </h4>
    </div>
  </div>
  <hr>
</div>