<div class="card align-self-stretch">
    <span class="badge primary-color col-12 text-capitalize">{{special.tag}}</span>
    <div class="image">
        <div *ngIf="!special.img; else notImage">
            <img class="card-img-top" src="assets/haircut.jpg" alt="haircut.jpg">
        </div>
        <ng-template #notImage >
            <img class="card-img-top" src="assets/{{special.img}}" alt="{{special.img}}">
        </ng-template>  
    </div>
    <div class="card-body">
      <h5 class="card-title">{{special.name}}</h5>
      <p class="font-weight-bold">{{special.startDate}} {{(special.endDate ? 'al ' + special.endDate : '')}}</p>
      <p class="card-text">{{special.description}}</p>
      <a href="#" class="btn primary-color text-capitalize">Mas información...</a>
    </div>
</div>



