/* You can add global styles to this file, and also import other style files */
$basicFontSize: 1.2em;
$primaryColor: #a10cbe;

*
  font-family: 'Montserrat', sans-serif
  margin: 0

.medium-size
  font-size: $basicFontSize

.primary-color
  background-color: $primaryColor
  color: white

.primary-text
  color: $primaryColor

.op-80
  opacity: .8

@media (max-width: 900px)
  .medium-size
    font-size: .8em
