<footer class="primary-color">
  <div class="container ">
    <div class="p-1">
      <div class="row medium-size text-center">
          <div class="col">
              <h5 class="font-weight-bold">Direccion</h5>
              <p>Av Alfonso Reyes 2612, Edificio Conexity, Local 15</p>
            </div>
            <div class="col">
              <h5 class="font-weight-bold">Horario</h5>
              <ul class="list-unstyled">
                <li>Lunes-Sabado</li>
                <li>10:00 am a 8:00 pm</li>
              </ul>
            </div>
            <div class="col">
              <h5 class="font-weight-bold">Telefono</h5>
              <p>1353-0527</p>
            </div>
            <div class="col">
              <h5 class="font-weight-bold">Redes Sociales</h5>
            </div>
      </div>

    </div>
  </div>
</footer>
